/Lab1-v6/.idea
/Lab1-v6/cmake-build-debug
/Lab2-v1/.idea
/Lab2-v1/cmake-build-debug
/Lab3-v12/.idea
/Lab3-v12/cmake-build-debug
/Lab4-v12/.idea
/Lab4-v12/cmake-build-debug
/Lab5-v12/.idea
/Lab5-v12/cmake-build-debug
/Lab6-v6/.idea
/Lab6-v6/cmake-build-debug
/Lab7-v12/.idea
/Lab7-v12/cmake-build-debug
/Lab8-v3/.idea
/Lab8-v3/cmake-build-debug
/Lab9-v12/.idea
/Lab9-v12/cmake-build-debug
/Lab10-v12/.idea
/Lab10-v12/cmake-build-debug
/Coursework/.idea
/Coursework/cmake-build-debug